 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 834px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 500;
  width: 805px;
  line-height: 1.6;
  margin: 71px auto 0;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7917em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-1 .u-group-1 {
  width: 874px;
  min-height: 637px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 400;
  margin: 36px 55px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 58px 68px 0 32px;
}

.u-section-1 .u-text-5 {
  margin: 41px 68px 0 32px;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 207px;
  height: 225px;
  margin: -811px -28px 586px auto;
}

.u-section-1 .u-image-1 {
  width: 143px;
  height: 182px;
  --radius: 25px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: calc(((100% - 940px) / 2)  + 157px);
    height: 226px;
  }

  .u-section-1 .u-image-1 {
    transform: translateX(-50%) translateY(-50%) rotate(30deg);
    animation-timing-function: ease;
    margin: -411px 0 0 auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1367px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: calc(((100% - 720px) / 2)  + 157px);
    margin-top: -727px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1569px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: calc(((100% - 540px) / 2)  + 157px);
    margin-top: -613px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1314px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: calc(((100% - 340px) / 2)  + 157px);
    margin-top: -624px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 997px;
}

.u-section-2 .u-icon-1 {
  height: 56px;
  width: 56px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 26px auto 0 -28px;
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -43px 864px 0 44px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: -23px auto 0 261px;
}

.u-section-2 .u-list-1 {
  width: 474px;
  margin: 50px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 146px;
  --gap: 30px;
  grid-auto-columns: 100%;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 19px 21px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0 20px;
  padding: 12px 30px 13px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -53px 161px 0 auto;
  padding: 12px 30px 13px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -53px 36px 0 auto;
  padding: 12px 35px 13px 33px;
}

.u-section-2 .u-list-2 {
  width: 598px;
  margin: -146px 0 0 auto;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 281px;
  --gap: 30px;
  grid-auto-columns: 100%;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-2 {
  padding: 19px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 21px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 12px auto 0 20px;
  padding: 12px 24px 13px 23px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -53px 181px 0 auto;
  padding: 12px 25px 13px 23px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -53px 26px 0 auto;
  padding: 12px 46px 13px;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 181px 0 auto;
  padding: 12px 6px 13px 5px;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -49px auto 0 20px;
  padding: 12px 38px 13px;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -53px 27px 0 auto;
  padding: 12px 12px 13px 11px;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px auto 0 20px;
  padding: 12px 56px 13px 55px;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -53px 181px 0 auto;
  padding: 12px 8px 13px 7px;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -53px 27px 0 auto;
  padding: 12px 47px 13px 45px;
}

.u-section-2 .u-list-3 {
  width: 474px;
  margin: -96px auto 0 0;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: repeat(1, 100%);
  min-height: 143px;
  --gap: 30px;
  grid-auto-columns: 100%;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: 19px 21px 0;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px auto 0 21px;
  padding: 12px 30px 13px;
}

.u-section-2 .u-btn-14 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -53px 163px 0 auto;
  padding: 12px 15px 13px 14px;
}

.u-section-2 .u-btn-15 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -53px 35px 0 auto;
  padding: 12px 13px 13px 12px;
}

.u-section-2 .u-list-4 {
  width: 597px;
  margin: 11px 0 0 auto;
}

.u-section-2 .u-repeater-4 {
  grid-template-columns: repeat(1, 100%);
  min-height: 214px;
  --gap: 30px;
  grid-auto-columns: 100%;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  margin: 19px 21px 0;
}

.u-section-2 .u-btn-16 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px auto 0 21px;
  padding: 12px 30px 13px;
}

.u-section-2 .u-btn-17 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -53px 84px 0 auto;
  padding: 12px 30px 13px;
}

.u-section-2 .u-btn-18 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0 21px;
  padding: 12px 30px 13px;
}

.u-section-2 .u-btn-19 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -53px 37px 0 auto;
  padding: 12px 30px 13px;
}

.u-section-2 .u-list-5 {
  width: 474px;
  margin: -186px auto 0 0;
}

.u-section-2 .u-repeater-5 {
  grid-template-columns: repeat(1, 100%);
  min-height: 220px;
  --gap: 30px;
  grid-auto-columns: 100%;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-5 {
  padding: 12px 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  margin: 8px auto 0 21px;
}

.u-section-2 .u-btn-20 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0 21px;
  padding: 12px 30px 13px;
}

.u-section-2 .u-btn-21 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 18px auto 0 21px;
  padding: 12px 30px 13px;
}

.u-section-2 .u-btn-22 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -53px 26px 0 auto;
  padding: 12px 11px 13px 9px;
}

.u-section-2 .u-list-6 {
  width: 597px;
  margin: 22px 0 0 auto;
}

.u-section-2 .u-repeater-6 {
  grid-template-columns: repeat(1, 100%);
  min-height: 234px;
  --gap: 30px;
  grid-auto-columns: 100%;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-6 {
  padding: 15px 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  margin: 7px 0 0 21px;
}

.u-section-2 .u-btn-23 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0 21px;
  padding: 12px 26px 13px;
}

.u-section-2 .u-btn-24 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -54px auto 0 198px;
  padding: 12px 18px;
}

.u-section-2 .u-btn-25 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -51px 16px 0 auto;
  padding: 12px 14px;
}

.u-section-2 .u-btn-26 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 22px auto 0 21px;
  padding: 12px 30px 13px 29px;
}

.u-section-2 .u-btn-27 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -52px auto 0 198px;
  padding: 12px 26px 12px 25px;
}

.u-section-2 .u-btn-28 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -52px 16px 0 auto;
  padding: 12px 9px 13px 8px;
}

.u-section-2 .u-list-7 {
  width: 474px;
  margin: -217px auto 26px 0;
}

.u-section-2 .u-repeater-7 {
  grid-template-columns: repeat(1, 100%);
  min-height: 217px;
  --gap: 30px;
  grid-auto-columns: 100%;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.875rem;
  margin: 18px auto 0 26px;
}

.u-section-2 .u-btn-29 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px auto 0 21px;
  padding: 12px 7px 13px;
}

.u-section-2 .u-btn-30 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -54px 9px 0 auto;
  padding: 12px 4px 13px 3px;
}

.u-section-2 .u-btn-31 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 21px;
  padding: 12px 10px 13px 8px;
}

.u-section-2 .u-btn-32 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -55px 7px 0 auto;
  padding: 12px 9px 13px 8px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 708px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-6 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-7 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-btn-29 {
    padding-left: 21px;
    padding-right: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 488px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 308px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 150px;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 123px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 123px;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-11 {
    margin-right: 123px;
  }

  .u-section-2 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-2 .u-list-4 {
    width: 540px;
  }

  .u-section-2 .u-btn-17 {
    margin-right: 27px;
  }

  .u-section-2 .u-btn-18 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-19 {
    margin-right: 0;
  }

  .u-section-2 .u-list-6 {
    width: 540px;
  }

  .u-section-2 .u-btn-24 {
    margin-left: 141px;
  }

  .u-section-2 .u-btn-25 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-26 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-27 {
    margin-left: 141px;
  }

  .u-section-2 .u-btn-28 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.8rem;
    margin-right: 108px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 27px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 20px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-list-3 {
    width: 340px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-14 {
    margin-right: 29px;
  }

  .u-section-2 .u-btn-15 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-list-4 {
    width: 340px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-17 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-19 {
    margin-top: 20px;
  }

  .u-section-2 .u-list-5 {
    width: 340px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-22 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-list-6 {
    width: 340px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-24 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-25 {
    margin-top: 20px;
  }

  .u-section-2 .u-btn-27 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-28 {
    margin-top: 20px;
  }

  .u-section-2 .u-list-7 {
    width: 340px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-29 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-30 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-31 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-32 {
    margin-top: 20px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 442px;
}

.u-section-3 .u-icon-1 {
  width: 94px;
  height: 94px;
  margin: 0 1046px 0 0;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -67px 0 0 103px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 10px;
  margin-bottom: 26px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.333333% - 6.666667px);
  grid-template-columns: repeat(3, calc(33.333333% - 6.666667px));
  min-height: 315px;
  --gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-3 .u-icon-2 {
  height: 66px;
  width: 66px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-2 {
  margin: 28px 1px 0;
}

.u-section-3 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-3 .u-icon-4 {
  height: 66px;
  width: 66px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 28px 1px 0;
}

.u-section-3 .u-text-5 {
  margin: 23px 0 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-3 .u-icon-6 {
  height: 66px;
  width: 66px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-6 {
  margin: 28px 1px 0;
}

.u-section-3 .u-text-7 {
  margin: 23px 0 0;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-icon-1 {
    margin-top: 266px;
    margin-right: 862px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 13px;
    margin-left: 3px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-top: 72px;
    margin-bottom: -185px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666667px));
    min-height: 260px;
    grid-gap: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-icon-1 {
    margin-top: 267px;
    margin-right: 660px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 166px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 26px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.00000025px);
    grid-template-columns: repeat(2, calc(50% - 5.00000025px));
    min-height: 597px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-icon-1 {
    margin-top: 335px;
    margin-right: 495px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 202px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-icon-1 {
    margin-top: 389px;
    margin-right: 312px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 145px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}